main nav {
    width: 250px;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}

main {
    height: 100vh;
}

.wrapper {
    display: flex;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
}

    #content.active {
        width: 100%;
    }

#sidebar {
    display: block;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.in {
        
    }
    #sidebar.active {
        width: 0;
        display: none;
    }

@media (max-width: 100%) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
    }

        #content.active {
            width: calc(100% - 250px);
        }

    #sidebarCollapse span {
        display: none;
    }
}
