<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShop.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineShop</a>
                @await Component.InvokeAsync("Categories")
            </div>
        </nav>
    </header>
    <nav class=" navbar-expand-sm bg-dark">
        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">OnlineShop</a>
    </nav>
    <div class="wrapper d-flex align-items-stretch">
        <div class="row flex-xl-nowrap">
            <nav id="sidebar" class="navbar bg-dark">
                <ul class="list-unstyled components mb-5">
                    <li class="nav-link">
                        <h1> Test 1 </h1>
                    </li>
                    <li class="nav-link">
                        <h1> Test 2 </h1>
                    </li>
                    <li class="nav-link">
                        <h1> Test 3 </h1>
                    </li>
                </ul>
            </nav>
            <div class="p-4 p-md-5 pt-5">
                Teest Body
            </div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - OnlineShop.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
